<header class="header">
    <div class="container">
        <div class="header__content">
            <a href="#" class="header__logo">
                <img src="img/icon/logo.svg" alt="">
            </a>
            <div class="header__right">
                <nav class="header__body">
                    <ul>
                        <li>
                            <a data-goto-header data-goto=".block-intro" href="#">
                                <span>Главная</span>
                            </a>
                        </li>
                        <li>
                            <a data-goto-header data-goto=".block-benefits1" href="#">
                                <span>Преимущества</span>
                            </a>
                        </li>
                        <li>
                            <a data-goto-header data-goto=".block-benefits2" href="#">
                                <span>Почему выбирают нас</span>
                            </a>
                        </li>
                        <li>
                            <a data-goto-header data-goto=".block-services" href="#">
                                <span>Услуги</span>
                            </a>
                        </li>
                        <li>
                            <a data-goto-header data-goto=".block-gallery" href="#">
                                <span>Работы</span>
                            </a>
                        </li>
                        <li>
                            <a data-goto-header data-goto=".block-steps" href="#">
                                <span>Этапы</span>
                            </a>
                        </li>
                        <li>
                            <a data-goto-header data-goto=".block-reviews" href="#">
                                <span>Отзывы</span>
                            </a>
                        </li>
                        <li>
                            <a data-goto-header data-goto=".block-questions" href="#">
                                <span>Вопрос\ответ</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="phone">
                    <a href="tel:88004446754">8 800 444 67 54</a>
                    <span>Звонок бесплатный по РФ</span>
                </div>
                <div class="socials">
                    <a href="#">
                        <img loading="lazy" src="img/icon/telegram.svg" alt="">
                    </a>
                    <a href="#">
                        <img loading="lazy" src="img/icon/vk.svg" alt="">
                    </a>
                    <a href="#">
                        <img loading="lazy" src="img/icon/whatsapp.svg" alt="">
                    </a>
                </div>
                <button type="button" class="icon-menu"><span></span></button>
            </div>
        </div>
    </div>
</header>