:root {
  --container-width: 1430px;
  --container-padding: 20px;
  --black: #000;
  --lightsteelblue: #6a7589;
  --platinum: #e6e1dd;
  --white: #fff;
  --pearlorange: #bc6434;
  --darkblue: #282a36;

  --font-family: "Montserrat", sans-serif;
}
